# Certificados y claves privadas
*.key
*.crt
*.csr
*.pem

# Variables de entorno
.env
.env.*

# Dependencias Node
node_modules/

# Logs
*.log

# Configuración sensible
config/emailconfig.js
config/dbConfig.js